* {
	margin: 0;
	padding: 0;
}

h1 {

	color: white;
	position: relative;
	left: 350px;
}

body {

	background-color: black;

}
#container {

/*	background-color: black;
	width : 992 px;
	height: 100px;
	margin: 0 auto;*/

	height: 500px;
	width: intrinsic;
	background-color: #00FFFF;
	margin: 0 auto;
	clear: right;
	opacity:0.5;

}

#container:hover {

	opacity: 1.0;

}

.bar {
	background-color: white;
	width: 100%;
}

	.bar_wrapper {
	width: 10px;
	float: left;
	height: 100%;
}